/* Start Reset CSS*
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End Reset CSS */

body {
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: "Share Tech Mono", monospace;
  font-size: 1rem;
  background-color: black;
  color: white; /* alternatives: lavender (purple), ghostwhite (gray), honeydew &mintcream (green) */
}

div {
  border: 1px solid white;
}

#headerDiv, 
#contactMeDiv, 
#aboutMeDiv,
#toolsetDiv,
#projectsDiv {
  margin: 4px 5vw;
}

button {
  border: 0px;
  border-radius: 2px;
  padding: 4px;
  font-family: "Share Tech Mono", monospace;
  font-size: 1rem;
}

#navigationDiv {
  position: sticky;
  top: 0;
}

#navigateButton {
  display: block;
  margin: 0 auto;
  width: 60vw;
}

#navigationModal {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 40vw;
}

#headerDiv {
  padding: 10px 0;
}

#headerDiv h1 {
  text-align: center;
}

#headerDiv h2 {
  text-align: center;
}

h4 {
  text-align: center;
  padding: 10px;
}

#navigationDiv {
  background-color: rgb(36, 36, 36);
}

#navigationDiv button {
  background-color: indigo;
  color: white;
  border: 0px;
  padding: 4px 0;
  cursor: pointer;
}

#navigationDiv button:hover {
  background-color: chartreuse;
  color: black;
}

#navigateButton {
  border-radius: 2px;
}

#navigationModal {
  border: 0px;
  border-radius: 2px;
}

#aboutMeDiv {
  display: flex;
}

#aboutMeTextDiv {
  flex-basis: 60%;
}

#aboutMePicDiv {
  flex-basis: 40%;
}

#aboutMePic {
  width: 100%;
}

#footerDiv {
  /* position: absolute; */
  position: sticky;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  width: 100%;
  max-width: 100%;
  background-color: rgb(36, 36, 36);
}

#footerDiv button {
  background-color: indigo;
  color: white;
}

#footerDiv button:hover {
  background-color: chartreuse;
  color: black;
  cursor: pointer;
}

#terminalDiv {
  flex-basis: 100%;
  color: chartreuse;
}

#terminalOutputDiv {
  min-height: 20vh;
  max-height: 20vh;
  overflow-y: scroll;
  border-bottom-width: 0px;
}

#terminalInputDiv {
  display: flex;
  justify-content: center;
  border-top-width: 0px;
}

#terminalInputDiv input {
  width: 100%;
  border-style: none;
  border-width: 0px;
  background-color: rgb(36, 36, 36);
  color: chartreuse;
  font-family: "Share Tech Mono", monospace;
  font-size: 1rem;
}

#terminalInputDiv input:focus {
  outline: none;
}

#terminalInputDiv button {
}

#footerDiv button {
  display: block;
  margin-right: 5px;
}