/* ===== Reset CSS ===== */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ===== Custom Scrollbars ===== */
* {
  scrollbar-color: chartreuse black;
}
#terminalOutputDiv {
  scrollbar-color: rgb(50, 50, 50) rgb(36, 36, 36);
  scrollbar-width: thin;
}

/* ===== Loading Mask ===== */
#loadingMask {
  background-color: black;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
  z-index: 9999;
}

body {
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: "Share Tech Mono", monospace;
  font-size: 1rem;
  text-align: justify;
  text-wrap: pretty;
  background-color: black;
  color: white;
}

#headerDiv,
#meanderDiv,
#contactMeDiv, 
#aboutMeDiv,
#toolsetDiv,
#projectsDiv,
#expCertDiv,
#dev-initials-div {
  margin: 4px auto;
  width: 60vw;
}

button {
  border: 0px;
  border-radius: 2px;
  padding: 4px;
  font-family: "Share Tech Mono", monospace;
  font-size: 1rem;
  background-color: indigo;
  color: chartreuse;
  cursor: pointer;
}

button:hover {
  background-color: chartreuse;
  color: indigo;
}

h4 {
  text-align: center;
  padding: 10px;
  font-family: "Silkscreen", system-ui;
  color: chartreuse;
}

p {
  line-height: 1.5rem;
}

li {
  line-height: 1.5rem;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color: chartreuse;
  font-size: 1rem;
  margin: 0 4px;
}

.boldOverline {
  font-weight: bold;
  text-decoration: overline ;
}

#navigationDiv {
  position: sticky;
  top: 0;
  z-index: 5;
}

#navigateButton {
  display: block;
  margin: 0 auto;
  width: 60vw;
}

#navigationModal {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 40vw;
}

#navigationDiv {
  background-color: rgb(36, 36, 36);
}

#navigationDiv button {
  background-color: indigo;
  color: white;
  border: 0px;
  padding: 4px 0;
  cursor: pointer;
}

#navigationDiv button:hover {
  background-color: chartreuse;
  color: indigo;
}

#navigateButton {
  border-radius: 2px;
}

#navigationModal {
  border: 0px;
  border-radius: 2px;
}

#meanderDiv {
  height: 2.3rem;
  background-image: url(assets/meanderGreen.svg);
  background-repeat: repeat-x;
  background-size: 35px 35px; 
}

@keyframes stars {
  0% {}
  100% {background-position: 55% 55%;}
}

#headerDiv {
  display: grid;
  place-items: center;
  position: relative;
  overflow: hidden;
}

@keyframes borderTrace {
  from {
   transform: rotate(0deg);
  }
  to {
   transform: rotate(360deg);
  } 
 }
 
 #headerDiv::before {
   position: absolute;
   content: "";
   width: 100%;
   height: 25%;
   background: yellowgreen;
   transform: rotate(-45deg);
   animation: borderTrace 8s linear infinite;
 }

#headerDiv::after {
  position: absolute;
  content: "";
  inset: 4px;

  background: url(assets/greekTempleXXL.jpg);
  background-color: rgba(127, 255, 0, .75);
  background-blend-mode: luminosity;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;

  color: rgb(36, 36, 36);
  animation: stars 10s linear forwards;
}

#headerDiv span {
  z-index: 1;
  color: rgb(36, 36, 36);
}

.outline {
  text-shadow: -1px -1px 0 chartreuse, 1px -1px 0 chartreuse, -1px 1px 0 chartreuse, 1px 1px 0 chartreuse;
}

#headerDiv h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

#headerDiv h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

@keyframes typing {
  0% {width: 0%}
  33% {width: 100%}
  66% {width: 0%}
  100% {width: 100%}
}

@keyframes blinkingCursor {
  0% {border-color: transparent}
  50% {border-color: rgb(36, 36, 36)}
  100% {border-color: transparent}
}

.typedTextDiv {
  display: grid;
  place-items: center;
  width: fit-content;
  margin: 0 auto;
}

.typedText {
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  max-width: fit-content;
  border-right: 5px solid;
  animation: typing 8s steps(24, end) forwards 1, blinkingCursor 1s infinite;
}

#contactMeInfoDiv {
  display: flex;
  justify-content: center;
}

#contactMeLeftDiv {
  flex-basis: fit-content;
  padding: 0 10px 0 10px;
}

#contactMeRightDiv {
  flex-basis: fit-content;
  padding: 0 10px 0 10px;
}

#aboutMeHeaderSmall {
  display: none;
}

#aboutMeDiv {
  display: flex;
  align-items:center;
  gap: 10px;
  row-gap: 10px;
}

#aboutMeTextDiv {
  flex-basis: 60%;
}

#aboutMePicDiv {
  flex-basis: 40%;
  text-align: right;
}

@keyframes strobe {
  0% {
    box-shadow: none;
  }
  50% {
    box-shadow: 2px 2px 2px rgba(127, 255, 0, .5);
  }
  0% {
    box-shadow: none;
  }
}

#aboutMePic {
  display: inline;
  margin: 0 auto;
  width: 100%;
  max-width: 25vw;
  border-radius: 0% 0% 100% 100%;
  animation: strobe 2s linear infinite;
}

#toolsetDiv {
  overflow-x: hidden;
}

@keyframes toolsetScroll {
  0% {
    margin-right: 0;
    margin-left: 100%;
  }
  12% {
    margin-right: 25%;
    margin-left: 50%;
  }
  24% {
    margin-right: 50%;
    margin-left: 0%;
  }
  36% {
    margin-right: 75%;
    margin-left: -50%;
  }
  50% {
    margin-right: 100%;
    margin-left: -100%;
  }
  64% {
    margin-right: 75%;
    margin-left: -50%;
  }
  76% {
    margin-right: 50%;
    margin-left: 0%;
  }
  88% {
    margin-right: 25%;
    margin-left: 50%;
  }
  100% {
    margin-right: 0%;
    margin-left: 100%;
  }
}

#toolsetScrollerDiv {
  display: flex;
  margin-left: 100%;
  width: fit-content;
  animation: toolsetScroll 35s linear infinite;
}

#toolsetScrollerDiv img {
  height: 48px;
  width: 48px;
  margin-right: 20px;
}

#toolsetScrollerDiv img:hover {
  box-sizing: border-box;
  border: 2px solid yellowgreen;
  border-radius: 2px;
  cursor: pointer;
}

.swiper {
  z-index: 0;
  cursor: grab;
  padding: 20px 0;
}

.swiper-scrollbar {
  background: rgb(36, 36, 36);
}

.swiper-scrollbar-drag {
  background: chartreuse;
  height: 100px;
  border-radius: 0;
  opacity: 1;
}

.swiper-wrapper {
  align-items: center;
}

.swiper-slide {
  z-index: 0;
  text-align: left;
}

.swiper-slide img {
  width: 100%;
}

.swiper-slide p {
  margin: 10px 0;
}

.swiper-slide button {
  margin: 6px 0;
  margin-right: 20px;
}

.swiper-slide button a {
  color: white;
  text-decoration: none;
}

.swiper-slide button a:hover {
  color: indigo;
}

#expCertDiv li:nth-of-type(1) {
  margin: auto;
}

#expCertDiv li {
  margin: 4px 0;
}

#footerDiv {
  position: sticky;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  width: 100%;
  max-width: 100%;
  background-color: rgb(36, 36, 36);
}

#footerDiv button {
  background-color: indigo;
  color: white;
}

#footerDiv button:hover {
  background-color: chartreuse;
  color: indigo;
  cursor: pointer;
}

#terminalDiv {
  flex-basis: 100%;
  color: chartreuse;
}

#terminalOutputDiv {
  min-height: 20vh;
  max-height: 20vh;
  overflow-y: auto;
  border-bottom-width: 0px;
}

#terminalInputDiv {
  display: flex;
  justify-content: center;
  border-top-width: 0px;
}

#terminalInputDiv input {
  width: 100%;
  border-style: none;
  border-width: 0px;
  background-color: rgb(50, 50, 50);
  color: chartreuse;
  font-family: "Share Tech Mono", monospace;
  font-size: 1rem;
}

#terminalInputDiv input:focus {
  outline: none;
}

#footerDiv button {
  display: block;
  margin-right: 5px;
}

#dev-initials-div {
  margin-top: 10vh;
  margin-bottom: 5vh;
  text-align: center;
  font-family: "Caesar Dressing";
  color: chartreuse;
  text-shadow: 2px 2px 2px #ff00c1;
  cursor: grab;
}

#dev-logo-div {
  margin: 0 auto;
  padding: 0;
  height: fit-content;
  width: fit-content;
  transform: scale(.85);
}

#dev-initials-triangle {
  margin-left: auto;
  margin-right: auto;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 49px 19px 49px;
  border-color: transparent transparent #ff00c1 transparent;
  transform: rotate(0deg);
  position: relative;
  z-index: 2;
}

#dev-initials-inner-triangle-border {
  margin-top: -16px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  background: none;
}

#dev-initials-inner-triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 40px 15px 40px;
  border-color: transparent transparent black transparent;
  transform: rotate(0deg);
  position: relative;
  z-index: 2;
}

#dev-initials-frieze {
  margin-top: 1px;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 5px;
  background-color: #ff00c1;
  position: relative;
  z-index: 2;
}

#dev-initials-table {
  margin-left: auto;
  margin-right: auto;
}

#pillar-icon {
  height: 2.5rem;
}

@keyframes setup-pillar-icon-left {
  0% {transform: rotate(-.25turn)}
  100% {transform: rotate(0)}
}

#pillar-icon-left {
  animation: setup-pillar-icon-left 5s;
}

#pillar-icon-left:hover {
  transform: rotate(-.25turn);
  transition: transform .5s;
}

@keyframes setup-pillar-icon-right {
  0% {transform: rotate(.25turn)}
  100% {transform: rotate(0)}
}

#pillar-icon-right {
  position: relative;
  z-index: 0;
  animation: setup-pillar-icon-right 5s;
}

#pillar-icon-right:hover {
  transform: rotate(.25turn);
  transition: transform .5s;
}

@keyframes setup-dev-initial-j {
  0% {transform: rotate(-.10turn)}
  100% {transform: rotate(0)}
}

#dev-initial-j {
  font-size: 40px;
  animation: setup-dev-initial-j 5s;
}

#dev-initial-j:hover {
  transform: rotate(-.10turn);
  transition: transform .5s;
}

@keyframes setup-dev-initial-a {
  0% {transform: rotate(.50turn)}
  100% {transform: rotate(0)}
}

#dev-initial-a {
  position: relative;
  z-index: 1;
  font-size: 40px;
  animation: setup-dev-initial-a 5s;
}

#dev-initial-a:hover {
  transform: rotate(.50turn);
  transition: transform 1s;
}

#dev-initials-upper-step {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 3px;
  background-color: #ff00c1;
  position: relative;
  z-index: 2;
}

#dev-initials-lower-step {
  margin-top: 1px;
  margin-left: auto;
  margin-right: auto;
  width: 110px;
  height: 3px;
  background-color: #ff00c1;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 1000px) {
  #headerBorderDiv {
    margin: 4px 5vw;
    width: auto;
  }

  #headerDiv,
  #meanderDiv,
  #contactMeDiv, 
  #aboutMeDiv,
  #toolsetDiv,
  #projectsDiv,
  #expCertDiv,
  #dev-initials-div {
    margin: 4px 5vw;
    width: auto;
  }

  #contactMeInfoDiv {
    flex-wrap: wrap;
  }

  #contactMeLeftDiv {
    flex-basis: 100%;
  }

  #contactMeRightDiv {
    flex-basis: 100%;
  }

  #aboutMeHeaderSmall {
    display: block;
  }

  #aboutMeDiv {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  #aboutMeTextDiv {
    flex-basis: 100%
  }

  #aboutMeTextDiv h4 {
    display: none;
  }

  #aboutMePicDiv {
    flex-basis: 100%;
    text-align: auto;
  }

  #aboutMePic {
    display: block;
    max-width: 50vw;
  }

  #expCertDiv {
    text-align: center;
  }
}