/* ===== Reset CSS ===== */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ===== Custom Scrollbars ===== */
* {
  scrollbar-color: chartreuse black;
}
#terminalOutputDiv {
  scrollbar-color: rgb(50, 50, 50) rgb(36, 36, 36);
  scrollbar-width: thin;
}

/* ===== Loading Mask ===== */
#loadingMask {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;

  display: flex;
  justify-content: center;
  align-items: center;
}

#loadingDiv {
  font-size: 1.5rem;
}

#loadingBar {
  width: 80vw;
  height: fit-content;
  border: 4px solid chartreuse;
  border-radius: 2px;
}

#loadingProgress {
  width: 60vw;
  height: 50px;
  background-color: chartreuse;
}

body {
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: "Share Tech Mono", monospace;
  font-size: 1rem;
  text-align: justify;
  text-wrap: pretty;
  background-color: black;
  color: white;
}

#headerDiv,
#meanderDiv,
#contactMeDiv, 
#aboutMeDiv,
#toolsetDiv,
#projectsDiv,
#expCertDiv,
#videoDiv,
#gameDiv,
#musicDiv,
#signatureDiv,
#dev-initials-div {
  width: 60vw;
}

#headerDiv,
#meanderDiv {
  margin: 0 auto;
}

#contactMeDiv, 
#aboutMeDiv,
#toolsetDiv,
#projectsDiv,
#expCertDiv,
#videoDiv,
#gameDiv,
#musicDiv,
#signatureDiv,
#dev-initials-div {
  margin: 5vh auto;
}

/*
div {
  border: 1px solid white;
}
*/

button {
  border: 0;
  border-radius: 2px;
  padding: 4px;
  font-family: "Share Tech Mono", monospace;
  font-size: 1rem;
  background-color: indigo;
  color: chartreuse;
  cursor: pointer;
}

button:hover {
  background-color: chartreuse;
  color: indigo;
}

h4 {
  text-align: center;
  padding: 10px;
  font-family: "Silkscreen", system-ui;
  color: chartreuse;
}

p {
  line-height: 1.5rem;
}

li {
  line-height: 1.5rem;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color: chartreuse;
  font-size: 1rem;
  margin: 0 4px;
}

.bold {
  font-weight: bold;
}

.boldGreen {
  font-weight: bold;
  color: chartreuse;
}

.gray {
  position: absolute;
  left: 0;
  font-weight: bold;
  color: gray;
}

#navigationDiv {
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: rgb(36, 36, 36);
}

#navigateButton {
  display: block;
  margin: 0 auto;
  border-radius: 2px;
  width: 60vw;
}

#navigationDiv button,
#navigationDiv button #arrow-up-icon, 
#navigationDiv button #arrow-down-icon {
  background-color: indigo;
  color: white;
  border: 0;
  padding: 4px 0;
  cursor: pointer;
}

#navigationDiv button:hover,
#navigationDiv button:hover #arrow-up-icon, 
#navigationDiv button:hover #arrow-down-icon {
  background-color: chartreuse;
  color: indigo;
}

#navigationDiv button #arrow-up-icon,
#navigationDiv button #arrow-down-icon {
  padding: 0;
  line-height: .75rem;
}

#navigationModal {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 40vw;
  border: 0;
  border-radius: 2px;
}

#meanderDiv {
  height: 2.3rem;
  background-image: url(assets/meanderGreen.svg);
  background-repeat: repeat-x;
  background-size: 35px 35px; 
}

@keyframes stars {
  0% {}
  100% {background-position: 55% 55%;}
}

#headerDiv {
  display: grid;
  place-items: center;
  position: relative;
  overflow: hidden;
}

@keyframes borderTrace {
  from {
   transform: rotate(0deg);
  }
  to {
   transform: rotate(360deg);
  } 
 }
 
 #headerDiv::before {
   position: absolute;
   content: "";
   width: 100%;
   height: 25%;
   background: yellowgreen;
   transform: rotate(-45deg);
   animation: borderTrace 8s linear infinite;
 }

#headerDiv::after {
  position: absolute;
  content: "";
  inset: 4px;

  background: url(assets/greekTempleXXL.jpg);
  background-color: rgba(127, 255, 0, .75);
  background-blend-mode: luminosity;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;

  color: rgb(36, 36, 36);
  animation: stars 10s linear forwards;
}

#headerDiv span {
  z-index: 1;
  color: rgb(36, 36, 36);
}

.outline {
  text-shadow: -1px -1px 0 chartreuse, 1px -1px 0 chartreuse, -1px 1px 0 chartreuse, 1px 1px 0 chartreuse;
}

#headerDiv h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

#headerDiv h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

@keyframes typing {
  0% {width: 0%}
  33% {width: 100%}
  66% {width: 0%}
  100% {width: 100%}
}

@keyframes blinkingCursor {
  0% {border-color: transparent}
  50% {border-color: rgb(36, 36, 36)}
  100% {border-color: transparent}
}

.typedTextDiv {
  display: grid;
  place-items: center;
  width: fit-content;
  margin: 0 auto;
}

.typedText {
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  max-width: fit-content;
  border-right: 5px solid;
  animation: typing 8s steps(24, end) forwards 1, blinkingCursor 1s infinite;
}

#contactMeDiv {
  border: 2px solid rgba(127, 255, 0, 0.25);
  border-radius: 2px;
  padding-bottom: 10px;
}

#contactMeInfoDiv {
  display: flex;
  justify-content: center;
}

#contactMeLeftDiv {
  flex-basis: fit-content;
  padding: 0 10px 0 10px;
}

#contactMeRightDiv {
  flex-basis: fit-content;
  padding: 0 10px 0 10px;
}

#contactMeDiv li {
  line-height: 2.5rem;
}

#contactMeDiv button:hover {
  box-shadow: 2px 4px 0 gray;
}

#aboutMeHeaderSmall {
  display: none;
}

#aboutMeDiv {
  display: flex;
  align-items:center;
  gap: 10px;
  row-gap: 10px;
}

#aboutMeTextDiv {
  flex-basis: 60%;
}

#aboutMePicDiv {
  flex-basis: 40%;
  text-align: right;
}

@keyframes strobe {
  0% {
    box-shadow: none;
  }
  50% {
    box-shadow: 2px 2px 2px rgba(127, 255, 0, .5);
  }
  0% {
    box-shadow: none;
  }
}

#aboutMePic {
  display: inline;
  margin: 0 auto;
  width: 100%;
  max-width: 25vw;
  border-radius: 0% 0% 100% 100%;
  animation: strobe 2s linear infinite;
}

#toolsetDiv {
  overflow-x: hidden;
}

@keyframes toolsetScroll {
  0% {
    margin-right: 0;
    margin-left: 100%;
  }
  12% {
    margin-right: 25%;
    margin-left: 50%;
  }
  24% {
    margin-right: 50%;
    margin-left: 0%;
  }
  36% {
    margin-right: 75%;
    margin-left: -50%;
  }
  50% {
    margin-right: 100%;
    margin-left: -100%;
  }
  64% {
    margin-right: 75%;
    margin-left: -50%;
  }
  76% {
    margin-right: 50%;
    margin-left: 0%;
  }
  88% {
    margin-right: 25%;
    margin-left: 50%;
  }
  100% {
    margin-right: 0%;
    margin-left: 100%;
  }
}

#toolsetScrollerDiv {
  display: flex;
  margin-left: 100%;
  width: fit-content;
  animation: toolsetScroll 35s linear infinite;
}

#toolsetScrollerDiv img {
  height: 48px;
  width: 48px;
  margin-right: 20px;
}

#toolsetScrollerDiv img:hover {
  box-sizing: border-box;
  border: 2px solid yellowgreen;
  border-radius: 2px;
  cursor: pointer;
}

.swiper {
  z-index: 0;
  cursor: grab;
}

.swiper-scrollbar {
  background: rgb(36, 36, 36);
}

.swiper-scrollbar-drag {
  background: chartreuse;
  height: 100px;
  border-radius: 0;
  opacity: 1;
}

.swiper-wrapper {
  align-items: center;
}

.swiper-slide {
  z-index: 0;
  text-align: left;
  margin-bottom: 30px;
}

.swiper-slide:hover {
  box-shadow: 0 0px 16px rgba(127, 255, 0, 0.25);
}

.swiper-slide img {
  width: 100%;
}

.swiper-slide p {
  margin: 10px 0;
}

.swiper-slide button {
  margin: 6px 0;
  margin-right: 20px;
}

.swiper-slide button a {
  color: white;
  text-decoration: none;
}

.swiper-slide button:hover a {
  color: indigo;
}

#expCertDiv li:nth-of-type(1) {
  margin: auto;
}

#expCertDiv li {
  padding: 15px;
}

#expCertDiv li:hover {
  border-radius: 2px;
  box-shadow: inset 0 0 0 2px chartreuse;
  background-color: rgba(127, 255, 0, 0.1);
}

#videoClipDiv {
  margin: 0 auto;
  width: fit-content;
  height: 215px;
  padding: 25px;
  background-image: url("assets/videoMonitorLarge.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  border-radius: 5px;
}

#videoClipDiv iframe {
  border-radius: 3%;
  box-shadow: 0px 3px 0px black;
  height: 215px;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  5% {
    opacity: .03;
  }
  10% {
    opacity: .02;
  }
  15% {
    opacity: .05;
  }
  20% {
    opacity: .04;
  }
  25% {
    opacity: .07;
  }
  30% {
    opacity: .06;
  }
  35% {
    opacity: .09;
  }
  40% {
    opacity: .08;
  }
  45% {
    opacity: .11;
  }
  50% {
    opacity: .1;
  }
  55% {
    opacity: .09;
  }
  60% {
    opacity: .08;
  }
  65% {
    opacity: .07;
  }
  70% {
    opacity: .06;
  }
  75% {
    opacity: .05;
  }
  80% {
    opacity: .04;
  }
  85% {
    opacity: .03;
  }
  90% {
    opacity: .02;
  }
  95% {
    opacity: .1;
  }
  100% {
    opacity: 0;
  }
}

#videoScreenDiv {
  position: relative;
  top: -220px;
  border-radius: 3%;
  height: 218px;
  background-color: white;
  pointer-events: none;
  animation: blink 1s infinite;
}

#gameClipDiv {
  margin: 0 auto;
  width: fit-content;
}

#gameClipDiv iframe {
  width: 500px;
  height: 500px;
}

#musicClipDiv {
  margin: 0 auto;
  width: fit-content;
}

#musicClipDiv iframe {
  box-sizing: border-box;
  width: 500px;
  height: 250px;
}

#signatureDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#signatureButton:hover {
  box-shadow: 2px 4px 0 gray;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#signaturePic {
  box-sizing: border-box;
  border: 2px solid chartreuse;
  border-radius: 100%;
  height: 3rem;
  padding: 10%;
  animation: rotate 4s linear infinite;
}

#footerDiv {
  position: sticky;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  width: 100%;
  max-width: 100%;
  background-color: rgb(36, 36, 36);
}

#footerDiv button {
  display: block;
  margin-right: 5px;
  background-color: indigo;
  color: white;
}

#footerDiv button:hover {
  background-color: chartreuse;
  color: indigo;
  cursor: pointer;
}

#terminalDiv {
  flex-basis: 100%;
  color: chartreuse;
}

#terminalOutputDiv {
  min-height: 20vh;
  max-height: 20vh;
  overflow-y: auto;
  border-bottom-width: 0;
}

#terminalInputDiv {
  display: flex;
  justify-content: center;
  border-top-width: 0;
}

#terminalInputDiv input {
  width: 100%;
  border-style: none;
  border-width: 0;
  background-color: rgb(50, 50, 50);
  color: chartreuse;
  font-family: "Share Tech Mono", monospace;
  font-size: 1rem;
}

#terminalInputDiv input:focus {
  outline: none;
}

/* =========================== */
/* ===== Smaller Screens ===== */
/* =========================== */

@media screen and (max-width: 1000px) {
  #headerDiv,
  #meanderDiv,
  #contactMeDiv, 
  #aboutMeDiv,
  #toolsetDiv,
  #projectsDiv,
  #expCertDiv,
  #videoDiv,
  #gameDiv,
  #musicDiv,
  #signatureDiv,
  #dev-initials-div {
    width: auto;
  }

  #headerDiv,
  #meanderDiv {
    margin: 0 auto;
  }

  #contactMeDiv, 
  #aboutMeDiv,
  #toolsetDiv,
  #projectsDiv,
  #expCertDiv,
  #videoDiv,
  #gameDiv,
  #musicDiv,
  #signatureDiv,
  #dev-initials-div {
    margin: 2vh 5vw;
  }

  .gray {
    position: static;
  }

  #contactMeInfoDiv {
    flex-wrap: wrap;
    text-align: center;
  }

  #contactMeLeftDiv {
    flex-basis: 100%;
    padding: 0;
  }

  #contactMeRightDiv {
    flex-basis: 100%;
    padding: 0;
  }

  #aboutMeHeaderSmall {
    display: block;
  }

  #aboutMeDiv {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin-top: 0;
  }

  #aboutMeTextDiv {
    flex-basis: 100%;
  }

  #aboutMeTextDiv h4 {
    display: none;
  }

  #aboutMePicDiv {
    flex-basis: 100%;
    text-align: auto;
  }

  #aboutMePic {
    display: block;
    max-width: 35vw;
  }

  #expCertDiv {
    text-align: center;
  }

  #videoClipDiv {
    width: auto;
  }

  #videoClipDiv iframe {
    width: 100%;
  }

  #gameDiv {
    text-align: center;
  }
  
  #gameClipDiv {
    width: auto;
  }

  #gameClipDiv iframe {
    margin: 0 auto;
    width: 80vw;
    height: 120vw;
  }

  #musicClipDiv {
    width: auto;
  }

  #musicClipDiv iframe {
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    height: 250px;
  }

  #signatureDiv {
    flex-direction: column;
  }

  #signatureTextDiv {
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  #aboutMePic {
    display: block;
    max-width: 60vw;
  }
}